#game {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;

    #timer-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
